/*Main configuration*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/*Body*/

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
}

/*Wrapper Header*/

.wrapper-header {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #303c5f;
}

/*Header Laptop*/

#laptop {
  width: 50%;
  height: 800px;
}

/* Header Name*/

.name-header {
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 5%;
}

.name-header p {
  width: 100%;
  height: 50px;
  font-size: 30px;
  color: rgb(241, 192, 30);
}

/*Header -> Navegation*/

.menu-laptop {
  margin: 0 auto;
  padding-left: 5%;
}

.menu-laptop ol {
  display: flex;
  list-style-type: none;
  height: 50px;
}

.menu-laptop li {
  padding-right: 5%;
}

.menu-laptop a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.menu-laptop li:hover {
  transform: scale(1.1);
  transition: 1s;
}

/*Header -> Description*/

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  height: 600px;
}

.greeting {
  font-size: 50px;
  color: rgb(241, 192, 30);
  padding-left: 10%;
  padding-bottom: 10px;
}

.name-description {
  font-size: 60px;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.25rem;
  padding-left: 10%;
  padding-bottom: 10px;
}

.role {
  padding-left: 10%;
  color: white;
  font-weight: 100;
}

/*Header Mobile*/

#mobile {
  display: none;
  width: 100%;
}

/* Header Mobile Navegation*/

.mobile-header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.mobile-header p {
  width: 100%;
  padding-left: 5%;
  font-size: 20px;
  color: rgb(241, 192, 30);
}

#icon-menu {
  padding-right: 5%;
}

#icon-menu i {
  font-size: 30px;
}

#icon-menu .fa-x {
  display: none;
}

#menu-mobile {
  display: none;
  height: 200px;
}

#menu-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  list-style-type: none;
}

#menu-mobile li {
  padding: 5px;
}

#menu-mobile li:hover {
  transform: scale(1.1);
  transition: 1s;
}

#menu-mobile a {
  color: white;
  text-decoration: none;
}

/* Photo*/

.photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 800px;
}

.photo img {
  position: fixed;
  height: 800px;
  min-width: 50%;
  margin: 0 auto;
}

/*Social Media*/

.social-media {
  position: fixed;
  z-index: 3;
  width: 50%;
  top: calc(50% - 90px);
}

.social-media ul {
  display: flex;
  flex-direction: column;
  float: right;
  background-color: rgb(241, 192, 30);
  list-style-type: none;
  height: 180px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0px 0px 10px;
}

.social-media li {
  padding: 10px 0px;
}

.social-media a {
  color: black;
  font-size: 1.2rem;
}

/*About Me*/

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  background-color: #d5d5d5;
  width: 100%;
  margin: 0 auto;
}

#about-me h1 {
  color: #303c5f;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  margin-top: 50px;
}

#about-me p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.125rem;
  width: 80%;
  text-align: center;
  margin-top: 50px;
}

#about-me p:last-child {
  margin-bottom: 50px;
}

.soft-skills {
  color: rgb(175, 135, 1);
  font-weight: 500;
}

/* Skills*/

#skills {
  position: relative;
  z-index: 2;
  background-color: white;
  width: 100%;
  background-color: #7186bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  margin-top: 50px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0px auto;
}

.one {
  margin-top: 50px;
}

.one figure {
  margin: 10px 0px;
}

.second figure {
  margin: 10px 0px;
}

.third figure {
  margin: 10px 0px;
}

.third {
  margin-bottom: 50px;
}

.line img {
  height: 120px;
  border-radius: 4px;
  margin: 0px 15px;
  box-shadow: 10px 5px 5px black;
}

.line figcaption {
  text-align: center;
  color: #303c5f;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding-left: 10px;
}

/* Experiences*/

#experiences {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#experiences h1 {
  color: #303c5f;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.timeline-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.timeline-event {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

.blank-box {
  width: 45%;
  order: 3;
}

.timeline {
  display: flex;
  align-items: center;
  order: 2;
  background: linear-gradient(to right, #fff 40%, #000 40%, #000 60%, #fff 60%);
}

.timeline span {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid grey;
  background-color: white;
}

.timeline-details {
  width: 45%;
  order: 1;
}

.timeline-event {
  text-align: right;
}

.right-side {
  text-align: left;
}

.right-side .blank-box {
  order: 1;
}

.right-side .timeline-details {
  order: 3;
}

.timeline-details .timeline-company {
  color: rgb(91, 91, 91);
  padding: 5px 30px;
}

.timeline-details h3 {
  padding: 5px 30px;
  font-weight: 500;
}

.timeline-details .timeline-type {
  padding: 5px 30px;
  color: rgb(220, 74, 74);
}

.timeline-details .timeline-description {
  padding: 5px 30px;
  line-height: 1.5rem;
  margin: 5px 0px;
}

.first-line .blank-box {
  height: 80px;
}

.first-line .timeline {
  align-items: normal;
}

.first-line span {
  background-color: red;
}

.last-line .blank-box {
  height: 80px;
}

.last-line .timeline {
  align-items: end;
}

.last-line span {
  background-color: black;
}

.luxembourg {
  padding: 20px 0px;
}
@media only screen and (min-width: 1900px) {
  #laptop {
    height: 1000px;
  }

  .name-header p {
    font-size: 32px;
  }

  .menu-laptop a {
    font-size: 20px;
  }

  .description {
    height: 800px;
  }

  .photo img {
    height: 1200px;
  }
}

@media only screen and (max-width: 769px) {
  #laptop {
    display: none;
  }

  #mobile {
    display: block;
  }

  .wrapper-header {
    flex-direction: column;
  }

  .photo {
    position: relative;
    width: 100%;
    height: 1000px;
  }

  .photo img {
    position: absolute;
    width: 100%;
    height: 1000px;
  }

  .social-media {
    position: fixed;
    width: 100%;
    top: calc(50% - 90px);
  }

  .line {
    flex-wrap: wrap;
  }

  .timeline-event {
    text-align: left;
  }

  .blank-box {
    order: 3;
    width: 0%;
  }

  .timeline {
    order: 1;
  }

  .timeline-details {
    order: 2;
    width: 90%;
  }
}

@media only screen and (max-width: 430px) {
  .photo {
    height: 600px;
  }

  .photo img {
    height: 600px;
  }

  .mobile-header p {
    font-size: 16px;
  }

  #icon-menu i {
    font-size: 20px;
  }

  .social-media ul {
    height: 150px;
    width: 40px;
  }

  .social-media a {
    font-size: 1rem;
  }

  #menu-mobile {
    height: 180px;
  }

  #menu-mobile a {
    font-size: 14px;
  }

  #about-me h1 {
    font-size: 45px;
    margin-top: 60px;
  }
  #about-me p {
    font-size: 16px;
    margin-top: 30px;
  }

  #about-me p:last-child {
    margin-bottom: 40px;
  }

  #skills h1 {
    font-size: 45px;
    margin-top: 30px;
  }

  .line {
    flex-wrap: wrap;
  }

  .line img {
    height: 100px;
  }

  .one {
    margin-top: 30px;
  }

  .third {
    margin-bottom: 70px;
  }

  #experiences h1 {
    font-size: 45px;
  }
}
